* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------Shared Style-------- */
.font-inter {
  font-family: "Inter";
  font-optical-sizing: auto;
}

.btn a {
    text-decoration: none;
    background-color: #30b868;
    color: #ffffff;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: Semi bold;

}

 .btn a:hover {
    background-color: #ffd700;
    color: #000000;
}
.section-heading {
    max-width: 1360px;
    text-align: center;
    height: 152px;
    gap:16px;
    margin: 0 auto;
}
.section-heading h1 {
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}
.section-heading p {
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-bottom: 44px;
}

/*---------------Main Style--------------- */

/*-------Navbar Section------------*/

#navbar {
    background-color: #ffffff;
    padding: 16px;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar.logo {
    width: 139px;
    height: 60px;
    padding: 16px 24px 16px 120px;
}

#navbar .menu {
    list-style: none;
    display: flex;
    gap: 32px;
}

#navbar .menu li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: medium;
}
/*-----------Banner Section------------------*/
#banner {
	background-image: url("images/hero-bg.png");
    width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    
}

#banner .banner-container {
    width: 85%;
    max-width: 1360px;
    padding: 154px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.top-button {

	margin-top: 115px;
	margin-bottom: 16px;
	color: #30b868;
	background-color: white;
	border: none;
	border-radius:20px;
	padding: 8px 16px;
}
#banner .banner-container h1,
#banner .banner-container p {
	text-align: center;
}
.banner-container .heading1 {
	color: white;
	margin-bottom: 16px;
}
.banner-container .heading2 {
	color: #30b868;
	margin-bottom: 16px;
}
.banner-container p {
	color: white;
    font-size: 18px;
	line-height: 24px;
	margin-bottom: 40px;
    max-width:550px;
	
}

#banner .btn-two {
	display: flex;
    gap: 16px;
}
.btn-first {
    text-decoration: none;
    background-color: #30b868;
    color: #ffffff;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
}

.btn-second {
    background-color: transparent;
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #ffffff;
}

 .btn-first:hover {
    background-color: #ffd700;
    color: #000000;
}
 .btn-second:hover {
    background-color: #ffd700;
    color: #000000;
}
/* -------------Notes--------- */
#notes {
	padding-top: 130px;
}
#notes .notes-container {
	width: 85%;
	max-width: 1360px;
	margin: 0 auto;
}
#notes .notes-container .notes-box {
	display: flex;
	gap: 24px;
}

.notes-box .notes-card{
	padding: 24px;
	max-width: 322px;
	box-shadow: 0 0 8px 0 #000000;
}
.notes-card {
    text-align: center;
    padding: 24px;
}
.notes-card img{
	border-radius: 50%;
    padding: 10px;
	margin-bottom: 30px;
    background-color: #F95555;
}
.notes-card h1 {
    font-size: 24px;
    color:#001931;
    margin-bottom: 16px;
}
.notes-card p {
    font-size: 16px;
    line-height: 20px;
}

/*--------------Second Brain Section--------*/
#brain {
    padding: 120px;
}
	
#brain .brain-container {
    width: 85%;
	max-width: 1360px;
	margin: 0 auto;
	display: flex;
	gap: 24px;
}
.knowledge-img img {
    width: 600px;
    height: 600px;
    gap:60px;
}
.text {
width: 700px;
height: 300px;
gap: 60px;
}
.text h4 {
    font-size: 16px;
    color: #30b868;
    line-height: 20px;
    margin-bottom: 16px;
    font-style: medium;
    text-transform: uppercase;
}
.text h1 {
    font-size: 48px;
    color: #001931;
    margin-bottom: 40px;
    font-style: bold;
    height: 40px;
} 
.text p {
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-bottom: 40px;
} 
.text h3 {
    height: 40px;
} 
/*------------Access----------*/
#access .access-container {
    width: 85%;
    max-width: 1360px;
    height: 384px;
    padding: 40px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    background-color: #F7F6F2;
}
#access .access-container h1,
#access .access-container p {
	text-align: center;
}
.access-container .heading1 {
	color: #001931;
    font-size: 40px;
	margin-bottom: 20px;
    padding: auto;
}

.access-container p {
    font-size: 16px;
	line-height: 24px;
	margin-bottom: 40px;
    max-width:550px;
    color: #627382;
	
}

#access .btn-two {
	display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.btn-first {
    text-decoration: none;
    background-color: #30b868;
    color: #ffffff;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
}
.access-container.para1 p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    
}
/* ---------------Footer Section ------------ */
#footer {
    background-color: rgba(0,25,49,1);
    color: #ffffff;
    
}

.footer-container  {
    width: 85%;
	max-width: 1360px;
	margin: 0 auto;
	display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 120px 120px 164px 120px;
	
   
}
.footer-img img {
width: 139px;
height: 60px;
}

.social-heading h1 {
font-size: 20px;
line-height: 28px;
font-style: medium;
margin-bottom: 16px;
}

.social-heading .social-icons {
    display: flex;
    gap: 16px;
}
.social-heading i {
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(49, 9, 192);
    border-radius: 50%;
}

#footer hr {
    margin-top: 18px;
    margin-bottom: 16px;
}
.copy-rights {
    text-align: center;
    padding-bottom: 24px;
}



