* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------Shared Style-------- */
.font-inter {
  font-family: "Inter";
  font-optical-sizing: auto;
}

.btn a {
    text-decoration: none;
    background-color: #30b868;
    color: #ffffff;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: Semi bold;

}

 .btn a:hover {
    background-color: #ffd700;
    color: #000000;
}

/*---------------Main Style--------------- */

/*-------Navbar Section------------*/

#navbar {
    background-color: #ffffff;
    padding: 16px;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar.logo {
    width: 139px;
    height: 60px;
    padding: 16px 24px 16px 120px;
}

#navbar .menu {
    list-style: none;
    display: flex;
    gap: 32px;
}

#navbar .menu li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: medium;
}


